body {
    font-family: 'Poppins', sans-serif;
    
    position: relative; 
}

  /*!!!!!!HEAD!!!!!!!*/
.site-navbar {
    margin-bottom: 0px;
    position: absolute;
    width: 100%;
    top: 2rem;
    /* z-index: 1999;*/
}

  /*text on the banner*/
.site-navbar-text {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    
}
  
.site-navbar-text h1 {
    color: #fff;
    font-family:'Poppins', sans-serif;
    font-size: 60px;
    text-transform: capitalize;
  }

  /*banner*/
  .hero {
      height: 100vh;
      max-height: 350px;
      width: 100%;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat; 
      cursor: pointer;
  }
  
/*Zasady*/
.text-bg-light {
    color: #008000;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}
  .card-body-title {
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-weight: 700;
    text-align: center;
  }
  
  h4 a {
    color: black; 

  }
  .text {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    text-align: center;
    font-weight: 400;
    
  }
  .icon {
    margin: auto;
    font-size: 35px;
    color: #f1c40f;
    border-radius: 15px;
    width: 65px;
    height: 65px;
    border-style: solid;
    display: flex;
    align-items: center;
    justify-content: center;
}

  .icon-1 {
    color: #1D05F5;
  }
  .icon-2 {
    color: #E505F5;
  }



  .icon:hover {
    margin: auto;
    font-size: 35px;
    color: black;
    border-radius: 15px;
    width: 65px;
    height: 65px;
    border-style: solid;
    display: flex;
    align-items: center;
    justify-content: center;
  }

/*Gra*/
button {
    cursor: pointer;
    width: 200px;
    height: 60px;
    padding: 10px;
    font-size: 40px;
    font-weight: 700;
    
}

.button-1 {
    color: #000;
    background-color: #E505F5;
    border-color: #E505F5;
    border-radius: 15px;
}
.button-1:hover {
    background-color: #fff;
}
.button-2 {
    color: #fff;
    background-color: #1D05F5;
    border-color: #1D05F5;
    border-radius: 15px;
}
.button-2:hover {
    background-color: #fff;
    color: #000;
}
.button-3 {
    color: #000;
    background-color: #f1c40f;
    border-color: #f1c40f;
    border-radius: 15px;
}
.button-3:hover {
    background-color: #fff;
}

.button-4 {
    color: #000;
    font-size: 30px;
    font-weight: 700;
    width: 300px;
    height: 80px;
    background-color:#008000;;
    border-color: #008000;;
    border-radius: 15px;
}
.button-4:hover {
    background-color: #fff;
}
.text-messages {
    color: #008000;
}
.text-result {
    color: red;
    font-size: 30px;
}

.footer {
    max-height: 100px;
}